.path{
    height: 60px;

    color: #000000;
    align-items: center;
    align-content: center;
    padding-left: 60px;
    background-color: rgba(246, 246, 246, 0.76);
}
.path a{
    text-decoration: none;
    color: black;
    font-family: font5;
}
.sections-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.left{
    width: 15%;
    height: 90%;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
}
.right{
    padding-top: 15px;
    padding-left: 20px;
    
}
.img-container{
    background: url("../images/room_standard_1.jpg") no-repeat center center ;
    height:90%;
    width: 90%;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.sections-container{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    gap: 10px;
}
.sections{
    
    height: 190px;
    width: 100%;
    display: flex;
    border: #dddddd solid 0.1px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.sections:hover{
background-color: #e8e8e8;
}
h2{
    font-size: 20px;
    color: #000000;
    padding-bottom: 10px;
    font-family: font2;
}
h1{
    font-family: font5;
}
p{
    height: 50px;
    font-family: font5;
}
.detailsbtn a .details {
    width: 110px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.6rem 0rem 1.6rem 0rem ;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 160px;
}
.detailsbtn a{
    text-decoration: none;
    font-size: 5px;
    font-family: font2;
}